<div class="header">
    <div class="header-left">
        <div class="logoSection">
            <img src="/localbase/file/data/img/logo-landscape.png" alt="" class="to-black">
            <h4>S O E</h4>
        </div>
    </div>
    <div class="header-right">
        <div class="search">
            <input type="text" class="hiddenSearch">
            <button>
                <span class="material-symbols-outlined">
                    search
                </span>
            </button>
        </div>
        <div class="nav-item">
            <a href="">About</a>
            <p></p>                  
        </div>
        <div class="nav-item">
            <a href="">Blog</a>
            <p></p>                  
        </div>
        <div class="nav-item">
            <a href="">Support</a>
            <p></p>                  
        </div>
        <div class="split">

        </div>
        <div class="dropdown-button">
            <span class="material-symbols-outlined">
                account_circle
                </span>
            <div class="dropdown">
                <div class="dropOtp">
                    <span class="material-symbols-outlined">
                        login
                    </span>   
                    <h3>Login</h3>
                </div>
                <div class="dropOtp">
                    <span class="material-symbols-outlined">
                        logout
                    </span>
                    <h3>Logout</h3>
                </div>
                <div class="dropOtp">
                    <span class="material-symbols-outlined">
                        manage_accounts
                    </span>
                    <h3>Setting</h3>
                </div>

            </div>
        </div>
    </div>
</div>